html, body {
    height: 100%;
    width: 100%;
}

.secret_message {
    visibility: hidden;
    font-size: 80px;
    color: #111;
    text-align: center;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0061bd, 0 0 40px #0061bd, 0 0 50px #0061bd, 0 0 60px #0061bd, 0 0 70px #0061bd;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #279678, 0 0 40px #279678, 0 0 50px #279678, 0 0 60px #279678, 0 0 70px #279678, 0 0 80px #279678;
    }
}